<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="index.css">
</head>
<script src="/htmx/htmx.min.js"></script>
<body>


<div>
    <input type="text" id="searchField" 
            oninput="updateParam(this.value)"
            placeholder="Type a city ..."
            hx-vals="{'weatherParam' : seatchValue}"
            hx-get="http://localhost:8080/weather/Helsinki"
            hx-trigger="click"
            hx-target="#weather-container"
    >   
    <button
    >
    Search
  </button>
</div>
  
  
  <div id="weather-container">
    <h2>Helsinki</h2>
    Click the button to load a joke...
  </div>

  <script>
    var seatchValue = '';

    function updateParam(value) {
        seatchValue = value;
    }
  </script>
</body>
</html>